.gd_body {
    width: calc(100vh - 260px);
    /*width: calc(100vh);*/
    /*height: calc(100vh - 50px);*/
    min-width: 980px;
    display: flex;
    margin: 0 auto;
    /*background: white;*/
    /*background: #2b3346;*/
}
.sp-btn{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background-image: linear-gradient(
            125deg,
            #255877,
            #287263
    );
    background-size: 400%;
    animation: bganimation 15s infinite;
    position: fixed;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
@keyframes bganimation {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
