<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sorrowphage.czp.mapper.AuditMapper">
    <insert id="insertToHistory">
        insert into audit_history(`id`,`user_id`,`group_id`,`parent_id`,`status`,`create_time`,`update_time`,`operate_id`,`cause`)
        values (#{id},#{userId},#{groupId},#{parentId},#{status},#{createTime},#{updateTime},#{operateId},#{cause})
    </insert>

    <select id="auditList" resultType="com.sorrowphage.czp.entity.vo.AuditVO">
        SELECT a.*,u.name,u.avatar,g.group_name,pr.`name` as parentName,pr.avatar as parentAvatar FROM `audit` a
        left join czp_group g on a.group_id=g.id
        left join czp_user u on u.id=a.user_id
        left join czp_user pr on pr.id=a.parent_id
        where g.clan_elder=#{id}
    </select>
    <select id="auditListHistory" resultType="com.sorrowphage.czp.entity.vo.AuditVO">
        SELECT a.*,u.name,u.avatar,g.group_name,pr.`name` as parentName,pr.avatar as parentAvatar FROM `audit_history` a
            left join czp_group g on a.group_id=g.id
            left join czp_user u on u.id=a.user_id
            left join czp_user pr on pr.id=a.parent_id
        where g.clan_elder=#{id}
    </select>
    <select id="auditResultFromHistory" resultType="com.sorrowphage.czp.entity.vo.AuditVO">
        SELECT a.*,u.name,u.avatar,g.group_name,pr.`name` as parentName,pr.avatar as parentAvatar FROM `audit_history` a
              left join czp_group g on a.group_id=g.id
              left join czp_user u on u.id=a.user_id
              left join czp_user pr on pr.id=a.parent_id
        where a.user_id=#{id} ORDER BY a.update_time desc
    </select>
</mapper>
