<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sorrowphage.czp.mapper.CzpMessageMapper">
    <update id="updateMessageStatusToRead">
        update czp_message
        set `status`=1
        where (`from_id` = #{u2} and `to_id` = #{u1} and `status` = 0);
    </update>

    <select id="getChatList" resultType="com.sorrowphage.czp.entity.CzpUser">
        select u.* from czp_user u
            left join chat_list cl on  cl.other_id=u.id
        where cl.own_id=#{id}
    </select>
    <select id="getMessageList" resultType="com.sorrowphage.czp.entity.vo.MessageVO">
        select * from czp_message where (from_id=#{u1} and to_id=#{u2}) or (from_id=#{u2} and to_id=#{u1})
    </select>
    <select id="getChatListFromMessage" resultType="com.sorrowphage.czp.entity.CzpUser">
        select u.* from czp_user u
        where u.id in
              (select DISTINCT m.to_id as id from czp_message m where m.from_id=#{id} and m.type="user" union
               select DISTINCT m.from_id as id from czp_message m where m.to_id=#{id} and m.type="user")
        order by u.id
    </select>
</mapper>
