<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sorrowphage.czp.mapper.GroupMapper">

    <insert id="insertDataToUserGroup">
        insert into `user_group`(`user_id`, `group_id`, `create_time`, `update_time`)
        values (#{userId}, #{groupId}, #{createTime}, #{updateTime});
    </insert>
    <insert id="becomeFirst">

    </insert>
    <select id="selectGroupList" resultType="com.sorrowphage.czp.entity.vo.GroupVO">
        select g.*,pg.group_name as parent_name from user_group ug
            left join czp_group g on g.id=ug.group_id
            left join czp_group pg on pg.id=g.parent_id
        where ug.user_id=#{userId}
    </select>
    <select id="createList" resultType="com.sorrowphage.czp.entity.vo.UserVo">
        select u.* from czp_user u
            left join user_group ug on ug.user_id=u.id
        where ug.group_id=#{id} and ISNULL(ug.parent_id)
    </select>
    <select id="searchGroupList" resultType="com.sorrowphage.czp.entity.vo.GroupVO">
        select g.*,pg.group_name as parent_name
        from czp_group g
                 left join czp_group pg on pg.id=g.parent_id
        where g.id=#{id} or g.group_name like concat("%",#{id},"%")

    </select>
    <select id="getUserList" resultType="com.sorrowphage.czp.entity.CzpUser">
        select u.* from user_group g
            left join czp_user u on u.id=g.user_id
        where g.group_id=#{id}
    </select>
    <select id="groupUserList" resultType="com.sorrowphage.czp.entity.vo.UserVo">
        select u.*,ug.parent_id from user_group ug
            left join czp_user u on u.id=ug.user_id
        where ug.group_id=#{id}
    </select>
    <select id="groupCreaterList" resultType="java.lang.String">
        select u.id from user_group ug
        left join czp_user u on u.id=ug.user_id
        where ug.group_id=#{id} and ISNULL(parent_id)
    </select>
    <select id="getGroupById" resultType="com.sorrowphage.czp.entity.vo.GroupVO">
        select * from czp_group where id=#{id}
    </select>
    <select id="selectSonGroup" resultType="java.lang.String">
        select id from czp_group where parent_id=#{id}
    </select>
    <select id="getUserListEliminateCreate" resultType="com.sorrowphage.czp.entity.vo.UserVo">
        select u.*,ug.parent_id from user_group ug
            left join czp_user u on u.id=ug.user_id
        where ug.group_id=#{id} and NOT ISNULL(ug.parent_id)
    </select>
    <select id="selectAllGroupId" resultType="com.sorrowphage.czp.entity.vo.GroupVO">
        select * from czp_group
    </select>
    <select id="groupUserNums" resultType="java.lang.Integer">
        select count(*) from user_group where group_id=#{id}
    </select>
    <select id="recommendGroup" resultType="com.sorrowphage.czp.entity.vo.GroupVO">
        select * from czp_group order by rand() limit 10
    </select>
    <select id="getClanUser" resultType="com.sorrowphage.czp.entity.vo.UserVo">
        select u.* from czp_group g
            left join czp_user u on u.id = g.clan_elder
        where g.id=#{id}
    </select>
    <select id="selectUserHasGroup" resultType="com.sorrowphage.czp.entity.UserGroup">
        select ug.group_id,cg.parent_id from user_group  ug
            left join czp_group cg on cg.id = ug.group_id
        where ug.user_id=#{id}
    </select>
    <select id="selectUserGroup" resultType="com.sorrowphage.czp.entity.Group">
        select cg.* from user_group  ug
            left join czp_group cg on cg.id = ug.group_id
        where ug.user_id=#{id}
    </select>
    <select id="readGroupInfo" resultType="com.sorrowphage.czp.entity.vo.GroupVO">
        select cg.*,pg.group_name as parent_name from czp_group cg
            left join czp_group pg on pg.id=cg.parent_id
        where cg.id=#{id}
    </select>
    <select id="czpGroupInfo" resultType="com.sorrowphage.czp.entity.vo.CzpGroupVO">
        select cg.*,g.num,cu.name,cu.avatar,pg.group_name as parentName from czp_group cg
        left join (select ug.group_id,count(ug.group_id) as num from user_group ug group by ug.group_id) as g  on g.group_id=cg.id
        left join (select * from czp_user) cu on cu.id=cg.clan_elder
        left join (select * from czp_group) pg on pg.parent_id=cg.id
        <where>
            <if test=" id != null and id != '' ">
                cg.id=#{id}
            </if>
        </where>
    </select>
</mapper>
